In [21]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random
import numpy as np

%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [2]:
from io import BytesIO
import requests

link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(link)
data = req.content

In [3]:
df = pd.read_csv(BytesIO(data))

In [4]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [11]:
df['middle_age'] = (df.users / df.users.sum() * 100).round()

In [12]:
df

         date         gender  users  middle_age
0  2020-06-14  Not specified    150        52.0
1  2020-06-14           male    117        41.0
2  2020-06-14         female     21         7.0

In [22]:
df1 = pd.read_csv('7_browser.csv')

In [24]:
df1.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [30]:
chrome_robots = pd.Series(np.where(df1.browser.str.contains('Chrome') & (df1.user_type == 'Robots'), 1,0))

In [31]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64